* {
	margin: 0;
}

body {
	font-family: Ariel;
	background: #6495ED
}

h1{
	text-align:center;
	font-weight:bold;
}
main {
	display:flex;
	margin-left:auto;
	margin-right:auto;
	height:710px;
	width: 52.1%;
	position: relative;
	margin: 0 auto;
}

aside{
	flex-basis: 33%;
	border: 3px solid blue;
}

.map{
	display:none;
}

.interactive {
	flex-basis: 67%;
}

.popimage {
	height: 300px;
	width: auto;
}

.button{
	display:block;
	border:2px solid #1E90FF;
	cursor:pointer;
	text-decoration:none;
	background:white;
}
#langdalehall{
	top:445px;
	left:255px;
}

#librarynorth{
	top:470px;
	left:282px;
}

#kellhall{
	top:425px;
	left:275px;
}

#artsandhumanities{
	top:407px;
	left:288px;
}

#sparks{
	top:435px;
	left:310px;
}

#west {
	top: 484px;
	left:311px;
}

#urbanlife {
	top: 505px;
	left:342px;
}

#east {
	top: 479px;
	left: 364px;
}

#studentrecreation {
	top: 507px;
	left: 398px;
}

#librarysouth {
	top: 496px;
	left: 261px;
}

#classroomsouth {
	top: 476px;
	left: 242px;
}

#petit {
	top: 585px;
	left: 332px;
}


.innerpopup{
	padding: 20px 15px;
}

.popup__title {
  margin: 0;
}

.popup__text {
  margin: 0;
  height: 0;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  overflow: hidden;
}


@media screen{
  .interactive {
    position: relative;
    height: 0;
    padding-bottom: 52.91666666666667%;
  }
  .map {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .button {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .popup {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
    position: absolute;
  }
  .innerpopup {
    display: inline-block;
    white-space: nowrap;
    background: #6495ED;
    border: 0;
    border-radius: 4px;
  }

  .popup__text {
    height: auto;
  }
  .popup__text br {
    display: block;
  }
}
